###################################################################
# Script Name	 : "bltouch.cfg"                                                                                         
# Description	 : BLTouch 
# Args           :                                                                                           
# Author       	 : Alexander Koehler                                              
# Email          : software@akks.de 
# Date           : 12.02.2022                                    
###################################################################

# A [probe] / [bltouch] section can be defined instead with a pin: setting identical to the sensor_pin: for a bltouch
[bltouch]
sensor_pin: ^PB7  #^PB7 mit Vorwiederstand  # Pull-up (^ symbol) needed in open drain mode
control_pin: PB6
#x_offset: 48
#y_offset: 10
#z_offset = 1.980  #1.900 2.250
x_offset: -51
y_offset: -8   # -12
z_offset = 2.850 #2.660 #2.480 2.400 1.420 1.340 # 1.420  1.380  1.980 1.900 2.250
#set_output_mode: 5V
#pin_move_time: 0.500
#probe_with_touch_mode: False
#pin_up_reports_not_triggered: True
#pin_up_touch_mode_reports_triggered: True
speed: 2

[safe_z_home]
#home_xy_position: 75,105 #AK# 100,100 # Change coordinates to the center of your print bed
home_xy_position: 165,135 #AK# 75,105 #AK# 100,100 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 2

[bed_mesh]
speed: 200
horizontal_move_z: 8
#mesh_min: 50,40
#mesh_max: 220, 230
mesh_min: 4,12
mesh_max: 202, 217
probe_count: 4,4    # 6,6
#probe_count: 4,4 # number of probe points x,y
#split_delta_z: .025 # z step ?  The amount of Z difference (in mm) along a move that will trigger a split. Default is .025.
#mesh_pps: 2,2 # nr of points per segment to interpolate in the mesh. 


# File to add calibration possibilities, which are also called in the menu config.
# This adds a bed screws adjust GCode, that moves the nozzle around for you so you can paper adjust. Values are for cr3 Pro
[bed_screws]
screw1: 35,35
screw1_name: front left screw
screw2: 200,35
screw2_name: front right screw
screw3: 35,200
screw3_name: rear left screw
screw4: 200,200
screw4_name: rear right screw
horizontal_move_z: 8
#   The height (in mm) that the head should be commanded to move to when moving from one screw location to the next. The default is 5.
probe_height: 0
#   The height of the probe (in mm) after adjusting for the thermal expansion of bed and nozzle. The default is zero.
speed: 200
#   The speed (in mm/s) of non-probing moves during the calibration. The default is 50.
probe_speed: 2
#   The speed (in mm/s) when moving from a horizontal_move_z position to a probe_height position. The default is 5.


[screws_tilt_adjust]
screw1: 75,35 # 0,38
screw1_name: front left screw
screw2: 235,35 # 145,38
screw2_name: front right screw
screw3: 75,205 # 0,205
screw3_name: rear left screw
screw4: 235,205 # 145,205
screw4_name: rear right screw
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4

#[z_tilt]
#z_positions:
#    #-50, 83
#    48, 83
#points: 
#    10,25
#    220, 25
#    220,220
#    10,220
